{% extends 'todo/base.html' %}

{% block content %}

  <br>
  <div class="container text-center">
    <h3>{{ error }}</h3>
  </div>
  <br>

  <form class="container-lg" method="POST">
    {% csrf_token %}
    {% for field in form %}
      <div class="mb-3 form-floating">
        <div class="mb-3 row">
          {{ field.errors }}
        </div>
        <div class="mb-3 row">
          <label for="tag" class="col-sm-2 col-form-label"><b>{{ field.label_tag }}</b></label>
          <div class="col-sm-3" id="tag">
            {{ field }}
          </div>
        </div>

        {% if field.help_text %}
          <div class="mb-3 row">
            <div class="col" id="tag">
              <i>{{ field.help_text|safe }}</i>
            </div>
        {% endif %}
      </div>
    {% endfor %}

    <button type="submit" class="col-3 mb-2 btn btn-primary btn-success">Save</button>
  </form>

 <div class="container-lg">
    <form action="{% url 'completetodo' todo.id %}" method="POST">
      {% csrf_token %}
      <button type="submit" class="col-3 mb-2 btn btn-warning">Complete</button>
    </form>

    <form action="{% url 'deletetodo' todo.id %}" method="POST">
      {% csrf_token %}
      <button type="submit" class="col-3 mb-2 btn btn-danger">Delete</button>
    </form>
  </div>

{% endblock %}